<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/">Mithril & Materialize</a></li>
                <li><a href="/angular-bootstrap">Angular & Bootstrap</a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li class="active"><a href="/">Mithril & Materialize</a></li>
                <li><a href="/angular-bootstrap">Angular & Bootstrap</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </nav>
        <%- body %>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.2-rc.1/mithril.min.js"></script>
    <script type="text/javascript" src="/js/mithril/mithril-app.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.button-collapse').sideNav();
    </script>
</html>