.card-image {
    box-shadow: 0 2px 1px rgba(0,0,0,.2);
}

span.card-title {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);
}

#ngNewsContainer {
    margin-top: 50px;
    padding-top: 50px;
}

.mithrilNewsContainer {
    margin-top: 50px;
}